html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Raleway', sans-serif;
    background-color: gainsboro;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.25rem;
    border:2px solid rgb(129, 125, 125);
    border-radius: 10px;
    width: 60%;
}

ul {
    padding: 20px 0;
}

form li + li {
    margin-top: 20px;
  }

label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  input {
    width: 85%;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 5px;
    font-size: 1rem;
  }

  /* .radioInput {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
  }

  input[type=radio] {
    width: 30px;
  } */

  input:focus {
    border-color: #000;
  }

  .button {
    text-align: center;
  }

  button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #495057;
    background: #495057;
  }
  button:hover {
    background: #fff;
    color: #495057
  }

  #libraryTable {
    width: 80%;
    border:2px solid rgb(129, 125, 125);
    border-collapse:collapse;
    padding:5px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #libraryTable th {
    border:2px solid rgb(129, 125, 125);
    padding:5px;
    background: #f0f0f0;
    color: #313030;
    font-size: 1.25rem;
  }
  #libraryTable td {
    border:1px solid #b3adad; 
    text-align:center;
    padding:5px;
    background: #ffffff;
    color: #313030;
  } 

  .btnHolders {
    width: 150px; 
  }

  #removeBtn {
    margin-left: 16px;
  }